
 li{
    list-style: none;
     cursor: pointer;
     float: right;
     padding: 33px 20px;
     font-size: 17px;
     color: #ffffff;
     font-family: sans-serif;
     margin-left: 15px;
     margin-right: 15px;

}
.headmenu{
  list-style: none;
   cursor: pointer;
   font-size: 18px;
   color: #ffffff;
   font-family: sans-serif;

}
.has-children i{
  color:red;
}
li .img-fluid{
  border-radius: 50%;
    height: 43px;
    width: 43px;
    margin-top: -10px;

}

.header {
  background-color: #1e4496;
  color:#fff;
  height: 80px;
  opacity:0.98;

}
span{
  font-size: 18px;
    font-weight: 600;
}


.header-logo{
  font-size:36px;
  float:left;
  max-width: 200px;
  cursor:pointer;
  vertical-align: middle;
}
/* ini merupakan main */
.main {
  background-image:url(https://kecerdasandigital.id/assets/frontend/banner2.png);
  background-size: cover;
  background-position: center;
  height: 600px;
}
/* body */
body {
    margin: 0;
    font-family: "Segoe UI";
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.lesson-wrapper {
    height: 500px;
    padding-bottom: 80px;
    background-color: #fff;
}

.heading {
    text-align: center;
    padding-top: 50px;
    color: #143c83;
}

.lesson {
    padding: 50px 50px;
    float: left;
    width: 10%;
}

.lesson-icon img {
    width: 200px;
    border: 1px solid #143c83;
    cursor: pointer;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
.btn:hover{
 opacity: 0.88;
}
.message {
    padding: 10px 15px;
    color: #eee;
    font-weight: bold;
    background-color: #e54751;
    cursor: pointer;
    box-shadow: 0 7px #af353d;
    border-radius: 5px;
}

.message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}
.footer {
  background-color: #1e4496;
  height: 200px;
}
.img-footer{
  margin-left:10px;
  padding-top: 1px;
}
.footer .footer-left{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 20px;
  margin-left: 10px;">

}
.footer .copyright{
  color: #ccc;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 15px;
  text-align: center;
}

.footer-info{
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  float:left;
  padding-left:
}
.footer-icons{
  float:right;
  margin: -110px 110px;
  font-size: 30px;
  color:#ffffff;
  cursor:pointer;
}
.footer-icons p{
  font-size: 14px;
  color: #ffffff;

}
